@mixin album-font {
  @include text-shadow;
  color: white;
  z-index: 2;
}

.album {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 10px auto;
  
  border: 1px solid black;
  
  .cover {
    height: 100%;
  }
  
  .band {
    @include album-font;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
    position: absolute;
    top: 120px;
    left: 10px;
    right: 10px;
  }
  
  .title {
    @include album-font;
    font-size: 18px;
    
    background: rgba(0,0,0,0.8);
    
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
    padding: 5px;
  }
}  
  
.photo-credits {
  text-align: right;
}