%html
%head
  %title Make a band to me
  = include_stylesheets :app
  = include_javascripts :app
  = csrf_meta_tag
%body
  .logo

  .content
    = yield
    
  .footer
    .explanation
      %p The idea:
      %ul
        %li Go to en.wikipedia.org and click on 'Random article'. The title of the article that appears will be your band's name;
        %li Go to quotationspage.com and click on 'Random Quotes'. The last four or five words of the last quote will be the title of your band's first album;
        %li Go to flickr.com and click on 'last 7 days'. The first photo that appears will be your first album's cover.
        %li Put it all together.

    .references
      %p References:
      %ul
        %li 
          %a.wikipedia{href: 'http://en.wikipedia.org'} Wikipedia
        %li
          %a.quotations{href: 'http://quotationspage.com'} Quotations Page
        %li
          %a.flickr{href: 'http://flickr.com'} Flickr
        %li
          %a.github{href: 'https://github.com/pirelenito/makeabandtome'} Source Code
          
    .thanks
      %p Thanks to:
      %ul
        %li 
          %a{href: 'http://www.vistaicons.com/icon/i160s0/phuzion_icon_pack.htm'} Vista Icons, for the Speaker on the logo
        %li
          %a{href: 'http://www.dinpattern.com/'} Din Patter, for the background;
        %li My friend Paulo Cesar for the idea.
